body {
  background-color: lightgray;
}

.completed {
  background-color: grey;
}

.disableCheckbox {
  opacity: 0.5;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.todoItem > div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  margin-top: 50px;
}

ul {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 10px 10px 5px grey;
}

.addInput {
  width: 100%;
  line-height: 28px;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.clearCompleted {
  width: 100%;
  height: 35px;
  border: 0;
  color: lightgray;
}

.iconContainer {
  width: 50px;
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
}
